

body {
  font-family: "Josefin Sans" sans-serif;
}

header {
   width: 100%; 
   background-color: #FBCD35;
   padding: 2em;
}

.column-2, .column-1 {
    width: 50%;
    height: 1050px;
}   

.column-1 {
    background-color: #61C7B2;
    float: left;  
}

.column-2 {
    background-color: #88ADA6;
    float: right;
}

footer {
    clear: both; 
    width: 100%;
    background-color: #A502AD;
    padding: 2em;
}

