/*this is my css*/

header {
   width: 100%; 
   background-color: blue;
   padding: 2em;
}

.column-2, .column-1 {
    width: 77.5vh;
    padding: 2em;
}

.column-1 {
    background-color: beige;
    float: left;  
}

.column-2 {
    background-color: gray;
    float: right;
    height: 1045px;
}

footer {
    clear: both; 
    width: 100%;
    background-color:blue;
    padding: 2em;
}
